@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Marck Script', cursive;
    background: #ffdede;
}

h1 {
    font-size: 64px;
    margin: 3rem;
    text-align: center;
    font-family: 'Marck Script', cursive;
}

h2 {
    font-size: 50px;
    font-family: 'Marck Script', cursive;
}

p {
    font-size: 40px;
    font-family: 'Marck Script', cursive;
}

img {
    max-width: 80%;
    height: 100%;
    margin: 3rem;
}
